package views

templ Index() {
	<div class="page-container">
		@RangoliBackground()

		@OrnamentalBorder("top-left", true )
		@OrnamentalBorder("top-right", true )
		@OrnamentalBorder("bottom-left", true )
		@OrnamentalBorder("bottom-right", true )

		@Navbar()

		@Hero()
		
		@ProductSection()
		
		@HeritageSection()
	</div>
}