package views

templ Index() {
	<div class="page-container">
		@RangoliBackground()

		@OrnamentalBorder("top-left")
		@OrnamentalBorder("top-right")
		@OrnamentalBorder("bottom-left")
		@OrnamentalBorder("bottom-right")

		@Navbar()

		@Hero()
		
		@ProductSection()
		
		@HeritageSection()
	</div>
}