package views

templ Index() {
	<div class="page-container">
		@RangoliBackground()

		@OrnamentalBorder("top-left", false )
		@OrnamentalBorder("top-right", false )
		@OrnamentalBorder("bottom-left", false )
		@OrnamentalBorder("bottom-right", false )

		@Navbar()

		@Hero()
		
		@ProductSection()
		
		@HeritageSection()

		@FAQSection()
	</div>
}