package views

templ Navbar() {
	<nav class="festive-navbar">
		<div class="flex items-center justify-between">
			<div>
				<h1 class="heading-font text-3xl text-[#4E5B31]">
					Vanaushadhi
				</h1>
				<p class="text-xs tracking-[0.25em] uppercase text-[#8C2F2F]">
					Herbal Traditions
				</p>
			</div>

			<div class="hidden md:flex items-center gap-10 text-[#5A4638]">
				<a href="#">Home</a>
				<a href="/shop">Collection</a>
				<a href="#">Tradition</a>
				<a href="#">Contact</a>
			</div>
		</div>
	</nav>
}